@font-face {
    font-family: gilroy;
    src: url(./Gilroy-Light.woff2);
    font-weight: 300;
}
@font-face {
    font-family: gilroy;
    src: url(./Gilroy-Medium.ttf);
    font-weight: 500;
}
*{
margin:0;
padding: 0;
box-sizing: border-box;
}
html,body{
font-family: gilroy;
width: 100%;
}
#nav{
    background-color: #ffffff;
    position: fixed;
    z-index: 999;
    height: 5vw;
    display: flex;
    width: 100%;
}
#n1{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#n1 img{
    width: 50%;

}
#n2{
    height: 100%;   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;

}
#n2 a{
    position: relative;
    text-decoration: none;
    color: rgb(77, 77, 152);
    font-size: 1.2vw;
    font-weight: 500;
    text-transform: uppercase;
}
#n2 a::after{
    transition: all linear 0.2s;
    content: "";
    position: absolute;
    width: 0%;
    height: .1vw;
    border-radius: 100px;
    left: 50%;
    background-color:rgb(77, 77, 152) ;
    bottom: -3px;
    transform: translate(-50%, -50%);
}
#n2 a:hover::after{
    width: 100%;
}
#n3{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#n3 button{
    padding: .5vw 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgb(77, 77, 152) ;
    border-radius: 100px;
}
#n3 button i{
    font-size: 1.5vw;

}
#n3 i{
    color: rgb(77, 77, 152);
    font-size: 2vw;
}
#main{
    padding-top: 5%;
    padding-left: 3%;
    width: 100%;
}
#main>button{
    margin-top: 2%;
    padding: .8vw 1.5vw;
    border-radius: 100px;
    border: .2vw solid #4d4d98;
    color: black;
    transition: all linear .2s;
    font-size: 1vw;
    
}
#main>button:hover{
    background-color: #4d4d98;
    scale: 1.1;
    color: white;
}
#main>button:hover  a{
    color: white;
}
#main button a{
    text-decoration: none;
    color: #4d4d98;
    font-weight: 500;
    text-transform: uppercase;
}
#main h3{
    font-size: 1.5vw;
    font-weight: 500;
    margin-top: 2%;
}
#main h2{
    font-size: 1.5vw;
    width: 60%;
    margin-top: 5%;
    font-weight: 500;
}
#main img{
    width: 70%;
    margin-left: -5%;
}