@font-face {
    font-family: gilroy;
    src: url(./Gilroy-Light.woff2);
    font-weight: 300;
}
@font-face {
    font-family: gilroy;
    src: url(./Gilroy-Medium.ttf);
    font-weight: 500;
}
*{
margin:0;
padding: 0;
box-sizing: border-box;
}
html,body{
font-family: gilroy;
width: 100%;
}
#nav{
    background-color: #ffffff;
    position: fixed;
    z-index: 999;
    height: 5vw;
    display: flex;
    width: 100%;
}
#n1{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#n1 img{
    width: 50%;

}
#n2{
    height: 100%;   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;

}
#n2 a{
    position: relative;
    text-decoration: none;
    color: rgb(77, 77, 152);
    font-size: 1.2vw;
    font-weight: 500;
    text-transform: uppercase;
}
#n2 a::after{
    transition: all linear 0.2s;
    content: "";
    position: absolute;
    width: 0%;
    height: .1vw;
    border-radius: 100px;
    left: 50%;
    background-color:rgb(77, 77, 152) ;
    bottom: -3px;
    transform: translate(-50%, -50%);
}
#n2 a:hover::after{
    width: 100%;
}
#n3{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#n3 button{
    padding: .5vw 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid #4d4d98 ;
    border-radius: 100px;
}
#n3 button i{
    font-size: 1.5vw;

}
#n3 i{
    color: rgb(77, 77, 152);
    font-size: 2vw;
}
#main{
    height: 48vw;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main h1{
    font-size: 8vw;
    color: transparent;
    -webkit-text-stroke: 2px #4d4d98  ;
}