@font-face {
    font-family: gilroy;
    src: url(./Gilroy-Light.woff2);
    font-weight: 300;
}
@font-face {
    font-family: gilroy;
    src: url(./Gilroy-Medium.ttf);
    font-weight: 500;
}
*{
margin:0;
padding: 0;
box-sizing: border-box;
}
html,body{
font-family: gilroy;
width: 100%;
}
#nav{
    background-color: #ffffff;
    position: fixed;
    z-index: 999;
    height: 5vw;
    display: flex;
    width: 100%;
}
#n1{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#n1 img{
    width: 50%;

}
#n2{
    height: 100%;   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;

}
#n2 a{
    position: relative;
    text-decoration: none;
    color: rgb(77, 77, 152);
    font-size: 1.2vw;
    font-weight: 500;
    text-transform: uppercase;
}
#n2 a::after{
    transition: all linear 0.2s;
    content: "";
    position: absolute;
    width: 0%;
    height: .1vw;
    border-radius: 100px;
    left: 50%;
    background-color:rgb(77, 77, 152) ;
    bottom: -3px;
    transform: translate(-50%, -50%);
}
#n2 a:hover::after{
    width: 100%;
}
#n3{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#n3 button{
    padding: .5vw 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgb(77, 77, 152) ;
    border-radius: 100px;
}
#n3 button i{
    font-size: 1.5vw;

}
#n3 i{
    color: rgb(77, 77, 152);
    font-size: 2vw;
}
#main{
    padding-top: 5%;
}
#page1{
    width: 100%;
    position: relative;
    height: 44vw;
    background-image: url(./photo-1632406897767-2319bcedac9c.avif);
    background-size: cover;
    background-position: center;
    background-color: red;
}
#page1 button{
    position: absolute;
    bottom: 25%;
    border: none;
    background-color: transparent;
    color: #4d4d98 ;
    border: .2vw solid #4d4d98;
    border-radius: 100px;
    padding: .6vw 1vw;
    right: 10%;
}
#page1 button:hover{
    transition: all linear 0.2s;
    background-color: #4d4d98  ;
    color: white;
}
#page1 button h1{
    font-weight: 300;
    font-size: 1.2vw;
}
#page2{
    position: relative;
    padding-top: 5%;
    width: 100%;
    min-height: 50vw;
}
#page2 h1{
    text-align: center;
    font-size: 3vw;
    position: relative;
    font-weight: 300;
    text-decoration: .15vw underline  double #000000be;
    text-transform: uppercase;
}

#page2 :nth-child(4){
    margin-top: 13%;
}
#page2 p{
    width: 50%;
    margin-top: 5%;
    font-size: 1.5vw;
    margin-left: 2%;
}
#page2 img{
    position: absolute;
    width: 30%;
    margin-top: 5%;
    right: 3%;
}
#page2 :nth-child(7){
    margin-top: -17%;
}
#page2 :nth-child(10){
    margin-top: -20%;
    width: 25%;
}
#page2 :nth-child(13){
    margin-top: -15%;
    width: 25%;
}
#page2 h2{
    white-space: nowrap;
    margin-top: 7%;
    font-size: 2vw;
    font-weight: 700;
    margin-left: 2%;
    position: relative;
    width: 20%;
    color: #4d4d98;
}
#page2 h2::after{
    content: "";
    position: absolute;
    width: 100%;
    height: .15vw;
    background-color: #4d4d98;
    left: 0;
    bottom: -.1vw;
}